body {
    /*  background-color: rgb(117, 117, 228);*/
    margin: 0 0 100px 0px;
     background-image: url('https://image.freepik.com/free-photo/white-wavy-clothes-background_167650-977.jpg');
  }
  
  #main {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top:70px;
      /*margin-bottom: 100px;*/
  }

h1 {
    color: firebrick;
}

button {
    border-radius: 3em;
}

h1 {
   font-family: Verdana;
   font-size: 50px;
   color: rgb(133, 16, 16);
 
 }
 
 h2 {
     font-family: 'Franklin Gothic Medium';
     font-size: 20px;
     font-style: italic;
 }
 
 p {
     font-size: 20px;
     font-family: 'Gill Sans';
 }
 
 input[type="text"] {
     padding: 10px;
     border-style: double;
     border-radius: 4px;
     font-weight: bold;
     font-size: 10px;
 }
 
 #display {
     background-color: rgb(158, 23, 34);
     padding: 10px;
     border-style: double;
     border-radius: 4px;
     font-weight: bold;
 }
 
 #display2 {
     background-color: rgb(151, 23, 34);
     padding: 10px;
     border-style: double;
     border-radius: 4px;
     font-weight: bold;
 }
 
 input[type="submit"] {
     background-color: rgb(151, 23, 34);
     padding: 10px;
     border-style: double;
     border-radius: 4px;
     font-weight: bold;
 }
 
 label {
     font-size: 20px;
     font-family: 'Gill Sans';
 }
 
 #button {
     display: flex;
     gap:3em;
 }
 
 
 
 
 